<head>
    <title><%= siteData.title %></title>
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
        body { padding-top:80px; word-wrap:break-word; }
    </style>
</head>