<!doctype html>
<html>
<% include head %>
<body>
  <div class="container">
      <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
              <a href="/logout" class="btn navbar-btn navbar-right btn-info"><span class="fa fa-sign-out"></span> Logout</a>
          </div>
      </div>
      <div class="jumbotron text-center">
          <h1><span class="fa fa-cubes"></span> <%= siteData.title %></h1>
          <p><%= siteData.description %>
      </div>
  </div>
</body>
</html>