<!doctype html>
<html>
	<% include head %>
<body>
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
			<h1><span class="fa fa-sign-in"></span> Signup</h1>
		
			<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
			<% } %>
		
			<form action="/signup" method="post">
				<div class="form-group">
					<label>User name</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-user"></span></span>
					    <input type="text" class="form-control" name="username" placeholder="User name">
                    </div>
				</div>
				<div class="form-group">
					<label>Email address</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-at"></span></span>
					    <input type="email" class="form-control" name="email" placeholder="Email address">
                    </div>
				</div>
				<div class="form-group">
					<label>Password</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-key"></span></span>
					    <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
				</div>
		
				<button type="submit" class="btn btn-warning btn-lg">Signup</button>
			</form>
		
			<hr>
		
			<p>Already have an account? <a href="/login">Login</a></p>
		</div>
	</div>
</body>
</html>